
$body-font-family: 'Raleway';
$sidebar-color: #E1E8ED; // @light-grey3
$feedback-color: #CED9E0; // @light-grey1

$link-color: #137CBD;
$nav-child-link-color: #137CBD;

$base-button-color: #EBF1F5;
$btn-primary-color: #137CBD;
$border-radius: 0;